body {
    margin: 0px;
    background-color: #2583B7;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../登录页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:667px;
    top:16px;
    width:373px;
    height:764px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:373px;
    height:764px;
}

.u1 {
    position:absolute;
    left:2px;
    top:374px;
    width:369px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:695px;
    top:115px;
    width:322px;
    height:570px;
    overflow:hidden;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:570px;
    
}

.u3_normal {
    background-image: url('../登录页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:-120px;
    top:-124px;
    width:561px;
    height:694px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:561px;
    height:694px;
}

.u4 {
    position:absolute;
    left:2px;
    top:339px;
    width:557px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../登录页_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:480px;
    height:680px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:686px;
}

.u6 {
    position:absolute;
    left:2px;
    top:332px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../登录页_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:64px;
    top:104px;
    width:184px;
    height:186px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:186px;
}

.u8 {
    position:absolute;
    left:2px;
    top:85px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../登录页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:-68px;
    top:-70px;
    width:470px;
    height:470px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:470px;
    height:470px;
}

.u10 {
    position:absolute;
    left:2px;
    top:227px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../登录页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:17px;
    top:80px;
    width:300px;
    height:300px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:300px;
}

.u12 {
    position:absolute;
    left:2px;
    top:142px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../登录页_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:230px;
    top:16px;
    width:373px;
    height:764px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:373px;
    height:764px;
}

.u14 {
    position:absolute;
    left:2px;
    top:374px;
    width:369px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:258px;
    top:115px;
    width:322px;
    height:570px;
    overflow:hidden;
}

#pd1u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:570px;
    
}

.u16_normal {
    background-image: url('../登录页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:569px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:575px;
}

.u17 {
    position:absolute;
    left:2px;
    top:276px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../登录页_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:20px;
    top:20px;
    width:60px;
    height:60px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u19 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../登录页_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:-63px;
    top:-63px;
    width:230px;
    height:230px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:230px;
}

.u21 {
    position:absolute;
    left:2px;
    top:107px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:15px;
    top:90px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:571px;
    overflow:hidden;
}

#pd1u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:571px;
    
}

.u24_normal {
    background-image: url('../登录页_files/u3_normal.png');
}

.u24_container {
    position:absolute;
    left:-120px;
    top:-124px;
    width:561px;
    height:694px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:561px;
    height:694px;
}

.u25 {
    position:absolute;
    left:2px;
    top:339px;
    width:557px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../登录页_files/u5_normal.png');
}

.u26_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:480px;
    height:680px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:686px;
}

.u27 {
    position:absolute;
    left:2px;
    top:332px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u28 {
    position:absolute;
    left:26px;
    top:580px;
    width:271px;
    height:161px;
    overflow:hidden;
}

#pd1u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:271px;
    height:161px;
    
}

.u29_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:34px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u30 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:51px;
    width:270px;
    height:34px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u32 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../登录页_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:95px;
    width:270px;
    height:34px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u34 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:95px;
    top:102px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:94px;
    top:9px;
    width:85px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:105px;
    top:60px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../登录页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:124px;
    top:152px;
    width:8px;
    height:8px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:14px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../登录页_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:138px;
    top:153px;
    width:6px;
    height:6px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u28 {
    position:absolute;
    left:0px;
    top:0px;
    width:271px;
    height:161px;
    
}

.u42_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u42_container {
    position:absolute;
    left:0px;
    top:0px;
    width:270px;
    height:34px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u43 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u44_container {
    position:absolute;
    left:0px;
    top:51px;
    width:270px;
    height:34px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u45 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../登录页_files/u33_normal.png');
}

.u46_container {
    position:absolute;
    left:0px;
    top:95px;
    width:270px;
    height:34px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u47 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:95px;
    top:102px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:105px;
    top:9px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:105px;
    top:60px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../登录页_files/u38_normal.png');
}

.u51_container {
    position:absolute;
    left:124px;
    top:152px;
    width:8px;
    height:8px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:14px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../登录页_files/u40_normal.png');
}

.u53_container {
    position:absolute;
    left:138px;
    top:153px;
    width:6px;
    height:6px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:59px;
    top:-20px;
    width:204px;
    height:312px;
    overflow:hidden;
}

#pd7u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u56_normal {
    background-image: url('../登录页_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:30px;
    top:21px;
    width:132px;
    height:133px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:133px;
}

.u57 {
    position:absolute;
    left:2px;
    top:58px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../登录页_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:33px;
    top:35px;
    width:141px;
    height:141px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:141px;
}

.u59 {
    position:absolute;
    left:2px;
    top:62px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../登录页_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:69px;
    top:45px;
    width:64px;
    height:52px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:52px;
}

.u61 {
    position:absolute;
    left:2px;
    top:18px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u62_normal {
    background-image: url('../登录页_files/u56_normal.png');
}

.u62_container {
    position:absolute;
    left:30px;
    top:66px;
    width:132px;
    height:133px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:133px;
}

.u63 {
    position:absolute;
    left:2px;
    top:58px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../登录页_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:33px;
    top:80px;
    width:141px;
    height:141px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:141px;
}

.u65 {
    position:absolute;
    left:2px;
    top:62px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../登录页_files/u60_normal.png');
}

.u66_container {
    position:absolute;
    left:69px;
    top:90px;
    width:64px;
    height:52px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:52px;
}

.u67 {
    position:absolute;
    left:2px;
    top:18px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u68_normal {
    background-image: url('../登录页_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:26px;
    top:75px;
    width:139px;
    height:140px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:140px;
}

.u69 {
    position:absolute;
    left:2px;
    top:62px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../登录页_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:29px;
    top:90px;
    width:149px;
    height:149px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:149px;
}

.u71 {
    position:absolute;
    left:2px;
    top:66px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../登录页_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:67px;
    top:100px;
    width:68px;
    height:55px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:55px;
}

.u73 {
    position:absolute;
    left:2px;
    top:20px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u74_normal {
    background-image: url('../登录页_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:21px;
    top:82px;
    width:148px;
    height:149px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:149px;
}

.u75 {
    position:absolute;
    left:2px;
    top:66px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../登录页_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:24px;
    top:98px;
    width:158px;
    height:158px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:158px;
}

.u77 {
    position:absolute;
    left:2px;
    top:71px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../登录页_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:65px;
    top:109px;
    width:72px;
    height:58px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:58px;
}

.u79 {
    position:absolute;
    left:2px;
    top:21px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u80_normal {
    background-image: url('../登录页_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:14px;
    top:89px;
    width:162px;
    height:163px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:162px;
    height:163px;
}

.u81 {
    position:absolute;
    left:2px;
    top:74px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../登录页_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:17px;
    top:107px;
    width:172px;
    height:172px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:172px;
}

.u83 {
    position:absolute;
    left:2px;
    top:78px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../登录页_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:62px;
    top:118px;
    width:78px;
    height:63px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:63px;
}

.u85 {
    position:absolute;
    left:2px;
    top:24px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u86_normal {
    background-image: url('../登录页_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:9px;
    top:96px;
    width:170px;
    height:172px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:172px;
}

.u87 {
    position:absolute;
    left:2px;
    top:78px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../登录页_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:12px;
    top:115px;
    width:181px;
    height:181px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:181px;
}

.u89 {
    position:absolute;
    left:2px;
    top:82px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../登录页_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:60px;
    top:127px;
    width:82px;
    height:66px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:66px;
}

.u91 {
    position:absolute;
    left:2px;
    top:25px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u92_normal {
    background-image: url('../登录页_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:4px;
    top:104px;
    width:179px;
    height:181px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:181px;
}

.u93 {
    position:absolute;
    left:2px;
    top:82px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../登录页_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:7px;
    top:124px;
    width:190px;
    height:190px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:190px;
}

.u95 {
    position:absolute;
    left:2px;
    top:87px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../登录页_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:58px;
    top:137px;
    width:86px;
    height:69px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:69px;
}

.u97 {
    position:absolute;
    left:2px;
    top:26px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u55 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u98_normal {
    background-image: url('../登录页_files/u7_normal.png');
}

.u98_container {
    position:absolute;
    left:0px;
    top:112px;
    width:184px;
    height:186px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:186px;
}

.u99 {
    position:absolute;
    left:2px;
    top:85px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../登录页_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:3px;
    top:133px;
    width:196px;
    height:196px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:196px;
}

.u101 {
    position:absolute;
    left:2px;
    top:90px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../登录页_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:56px;
    top:146px;
    width:90px;
    height:72px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:72px;
}

.u103 {
    position:absolute;
    left:2px;
    top:28px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u104 {
    position:absolute;
    left:0px;
    top:570px;
    width:324px;
    height:218px;
    overflow:hidden;
}

#pd0u104 {
    position:absolute;
    left:0px;
    top:0px;
    width:324px;
    height:218px;
    
}

.u105_normal {
    background-image: url('../登录页_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:217px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:217px;
}

.u106 {
    position:absolute;
    left:2px;
    top:100px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:571px;
    
}

.u107_normal {
    background-image: url('../登录页_files/u3_normal.png');
}

.u107_container {
    position:absolute;
    left:-120px;
    top:-124px;
    width:561px;
    height:694px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:561px;
    height:694px;
}

.u108 {
    position:absolute;
    left:2px;
    top:339px;
    width:557px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../登录页_files/u5_normal.png');
}

.u109_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:480px;
    height:680px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:686px;
}

.u110 {
    position:absolute;
    left:2px;
    top:332px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:59px;
    top:-20px;
    width:204px;
    height:312px;
    overflow:hidden;
}

#pd6u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u112_normal {
    background-image: url('../登录页_files/u56_normal.png');
}

.u112_container {
    position:absolute;
    left:30px;
    top:66px;
    width:132px;
    height:133px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:132px;
    height:133px;
}

.u113 {
    position:absolute;
    left:2px;
    top:58px;
    width:128px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../登录页_files/u58_normal.png');
}

.u114_container {
    position:absolute;
    left:33px;
    top:80px;
    width:141px;
    height:141px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:141px;
}

.u115 {
    position:absolute;
    left:2px;
    top:62px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../登录页_files/u60_normal.png');
}

.u116_container {
    position:absolute;
    left:69px;
    top:90px;
    width:64px;
    height:52px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:52px;
}

.u117 {
    position:absolute;
    left:2px;
    top:18px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd5u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u118_normal {
    background-image: url('../登录页_files/u68_normal.png');
}

.u118_container {
    position:absolute;
    left:26px;
    top:75px;
    width:139px;
    height:140px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:139px;
    height:140px;
}

.u119 {
    position:absolute;
    left:2px;
    top:62px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../登录页_files/u70_normal.png');
}

.u120_container {
    position:absolute;
    left:29px;
    top:90px;
    width:149px;
    height:149px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:149px;
    height:149px;
}

.u121 {
    position:absolute;
    left:2px;
    top:66px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../登录页_files/u72_normal.png');
}

.u122_container {
    position:absolute;
    left:67px;
    top:100px;
    width:68px;
    height:55px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:68px;
    height:55px;
}

.u123 {
    position:absolute;
    left:2px;
    top:20px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u124_normal {
    background-image: url('../登录页_files/u74_normal.png');
}

.u124_container {
    position:absolute;
    left:21px;
    top:82px;
    width:148px;
    height:149px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:148px;
    height:149px;
}

.u125 {
    position:absolute;
    left:2px;
    top:66px;
    width:144px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../登录页_files/u76_normal.png');
}

.u126_container {
    position:absolute;
    left:24px;
    top:98px;
    width:158px;
    height:158px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:158px;
    height:158px;
}

.u127 {
    position:absolute;
    left:2px;
    top:71px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../登录页_files/u78_normal.png');
}

.u128_container {
    position:absolute;
    left:65px;
    top:109px;
    width:72px;
    height:58px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:72px;
    height:58px;
}

.u129 {
    position:absolute;
    left:2px;
    top:21px;
    width:68px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u130_normal {
    background-image: url('../登录页_files/u80_normal.png');
}

.u130_container {
    position:absolute;
    left:14px;
    top:89px;
    width:162px;
    height:163px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:162px;
    height:163px;
}

.u131 {
    position:absolute;
    left:2px;
    top:74px;
    width:158px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../登录页_files/u82_normal.png');
}

.u132_container {
    position:absolute;
    left:17px;
    top:107px;
    width:172px;
    height:172px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:172px;
    height:172px;
}

.u133 {
    position:absolute;
    left:2px;
    top:78px;
    width:168px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../登录页_files/u84_normal.png');
}

.u134_container {
    position:absolute;
    left:62px;
    top:118px;
    width:78px;
    height:63px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:63px;
}

.u135 {
    position:absolute;
    left:2px;
    top:24px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u136_normal {
    background-image: url('../登录页_files/u86_normal.png');
}

.u136_container {
    position:absolute;
    left:9px;
    top:96px;
    width:170px;
    height:172px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:172px;
}

.u137 {
    position:absolute;
    left:2px;
    top:78px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../登录页_files/u88_normal.png');
}

.u138_container {
    position:absolute;
    left:12px;
    top:115px;
    width:181px;
    height:181px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:181px;
}

.u139 {
    position:absolute;
    left:2px;
    top:82px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../登录页_files/u90_normal.png');
}

.u140_container {
    position:absolute;
    left:60px;
    top:127px;
    width:82px;
    height:66px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:66px;
}

.u141 {
    position:absolute;
    left:2px;
    top:25px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u142_normal {
    background-image: url('../登录页_files/u92_normal.png');
}

.u142_container {
    position:absolute;
    left:4px;
    top:104px;
    width:179px;
    height:181px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:179px;
    height:181px;
}

.u143 {
    position:absolute;
    left:2px;
    top:82px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../登录页_files/u94_normal.png');
}

.u144_container {
    position:absolute;
    left:7px;
    top:124px;
    width:190px;
    height:190px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:190px;
}

.u145 {
    position:absolute;
    left:2px;
    top:87px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../登录页_files/u96_normal.png');
}

.u146_container {
    position:absolute;
    left:58px;
    top:137px;
    width:86px;
    height:69px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:86px;
    height:69px;
}

.u147 {
    position:absolute;
    left:2px;
    top:26px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:204px;
    height:312px;
    
}

.u148_normal {
    background-image: url('../登录页_files/u7_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:112px;
    width:184px;
    height:186px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:186px;
}

.u149 {
    position:absolute;
    left:2px;
    top:85px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../登录页_files/u100_normal.png');
}

.u150_container {
    position:absolute;
    left:3px;
    top:133px;
    width:196px;
    height:196px;
}

#u150_img {
    position:absolute;
    left:0px;
    top:0px;
    width:196px;
    height:196px;
}

.u151 {
    position:absolute;
    left:2px;
    top:90px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../登录页_files/u102_normal.png');
}

.u152_container {
    position:absolute;
    left:56px;
    top:146px;
    width:90px;
    height:72px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:72px;
}

.u153 {
    position:absolute;
    left:2px;
    top:28px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:570px;
    
}

.u154_normal {
    background-image: url('../登录页_files/u16_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:569px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:327px;
    height:575px;
}

.u155 {
    position:absolute;
    left:2px;
    top:276px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../登录页_files/u18_normal.png');
}

.u156_container {
    position:absolute;
    left:20px;
    top:20px;
    width:60px;
    height:60px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u157 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../登录页_files/u20_normal.png');
}

.u158_container {
    position:absolute;
    left:-63px;
    top:-63px;
    width:230px;
    height:230px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:230px;
    height:230px;
}

.u159 {
    position:absolute;
    left:2px;
    top:107px;
    width:226px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160 {
    position:absolute;
    left:15px;
    top:90px;
    width:70px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../登录页_files/u0_normal.png');
}

.u161_container {
    position:absolute;
    left:1100px;
    top:16px;
    width:373px;
    height:764px;
}

#u161_img {
    position:absolute;
    left:0px;
    top:0px;
    width:373px;
    height:764px;
}

.u162 {
    position:absolute;
    left:2px;
    top:374px;
    width:369px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u163 {
    position:absolute;
    left:1128px;
    top:115px;
    width:322px;
    height:570px;
    overflow:hidden;
}

#pd0u163 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:570px;
    
}

.u164_normal {
    background-image: url('../登录页_files/u3_normal.png');
}

.u164_container {
    position:absolute;
    left:-120px;
    top:-124px;
    width:561px;
    height:694px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:561px;
    height:694px;
}

.u165 {
    position:absolute;
    left:2px;
    top:339px;
    width:557px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../登录页_files/u5_normal.png');
}

.u166_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:480px;
    height:680px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:686px;
}

.u167 {
    position:absolute;
    left:2px;
    top:332px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../登录页_files/u7_normal.png');
}

.u168_container {
    position:absolute;
    left:64px;
    top:104px;
    width:184px;
    height:186px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:184px;
    height:186px;
}

.u169 {
    position:absolute;
    left:2px;
    top:85px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../登录页_files/u9_normal.png');
}

.u170_container {
    position:absolute;
    left:-68px;
    top:-70px;
    width:470px;
    height:470px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:470px;
    height:470px;
}

.u171 {
    position:absolute;
    left:2px;
    top:227px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172_normal {
    background-image: url('../登录页_files/u11_normal.png');
}

.u172_container {
    position:absolute;
    left:17px;
    top:80px;
    width:300px;
    height:300px;
}

#u172_img {
    position:absolute;
    left:0px;
    top:0px;
    width:300px;
    height:300px;
}

.u173 {
    position:absolute;
    left:2px;
    top:142px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u174_container {
    position:absolute;
    left:26px;
    top:360px;
    width:270px;
    height:34px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u175 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176_normal {
    background-image: url('../登录页_files/u29_normal.png');
}

.u176_container {
    position:absolute;
    left:26px;
    top:411px;
    width:270px;
    height:34px;
}

#u176_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u177 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../登录页_files/u33_normal.png');
}

.u178_container {
    position:absolute;
    left:26px;
    top:455px;
    width:270px;
    height:34px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u179 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:121px;
    top:462px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:131px;
    top:369px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:131px;
    top:420px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../登录页_files/u38_normal.png');
}

.u183_container {
    position:absolute;
    left:150px;
    top:512px;
    width:8px;
    height:8px;
}

#u183_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:14px;
}

.u184 {
    position:absolute;
    left:2px;
    top:-4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../登录页_files/u40_normal.png');
}

.u185_container {
    position:absolute;
    left:164px;
    top:513px;
    width:6px;
    height:6px;
}

#u185_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u186 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../登录页_files/u0_normal.png');
}

.u187_container {
    position:absolute;
    left:1537px;
    top:16px;
    width:373px;
    height:764px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:373px;
    height:764px;
}

.u188 {
    position:absolute;
    left:2px;
    top:374px;
    width:369px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u189 {
    position:absolute;
    left:1565px;
    top:115px;
    width:322px;
    height:570px;
    overflow:hidden;
}

#pd0u189 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:570px;
    
}

.u190_normal {
    background-image: url('../登录页_files/u3_normal.png');
}

.u190_container {
    position:absolute;
    left:-120px;
    top:-124px;
    width:561px;
    height:694px;
}

#u190_img {
    position:absolute;
    left:0px;
    top:0px;
    width:561px;
    height:694px;
}

.u191 {
    position:absolute;
    left:2px;
    top:339px;
    width:557px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../登录页_files/u5_normal.png');
}

.u192_container {
    position:absolute;
    left:-10px;
    top:0px;
    width:480px;
    height:680px;
}

#u192_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:486px;
    height:686px;
}

.u193 {
    position:absolute;
    left:2px;
    top:332px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../登录页_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:89px;
    top:22px;
    width:129px;
    height:131px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:129px;
    height:131px;
}

.u195 {
    position:absolute;
    left:2px;
    top:58px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../登录页_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:-4px;
    top:-100px;
    width:330px;
    height:330px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:330px;
    height:330px;
}

.u197 {
    position:absolute;
    left:2px;
    top:157px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../登录页_files/u198_normal.png');
}

.u198_container {
    position:absolute;
    left:56px;
    top:5px;
    width:211px;
    height:211px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:211px;
}

.u199 {
    position:absolute;
    left:2px;
    top:98px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../登录页_files/u200_normal.png');
}

.u200_container {
    position:absolute;
    left:26px;
    top:180px;
    width:270px;
    height:34px;
}

#u200_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u201 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../登录页_files/u200_normal.png');
}

.u202_container {
    position:absolute;
    left:26px;
    top:231px;
    width:270px;
    height:34px;
}

#u202_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u203 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../登录页_files/u33_normal.png');
}

.u204_container {
    position:absolute;
    left:26px;
    top:275px;
    width:270px;
    height:34px;
}

#u204_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:276px;
    height:40px;
}

.u205 {
    position:absolute;
    left:2px;
    top:9px;
    width:266px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:121px;
    top:282px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:131px;
    top:189px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:131px;
    top:240px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../登录页_files/u38_normal.png');
}

.u209_container {
    position:absolute;
    left:150px;
    top:332px;
    width:8px;
    height:8px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:14px;
}

.u210 {
    position:absolute;
    left:2px;
    top:-4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211_normal {
    background-image: url('../登录页_files/u40_normal.png');
}

.u211_container {
    position:absolute;
    left:164px;
    top:333px;
    width:6px;
    height:6px;
}

#u211_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u212 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213_normal {
    background-image: url('../登录页_files/u105_normal.png');
}

.u213_container {
    position:absolute;
    left:0px;
    top:354px;
    width:323px;
    height:217px;
}

#u213_img {
    position:absolute;
    left:0px;
    top:0px;
    width:323px;
    height:217px;
}

.u214 {
    position:absolute;
    left:2px;
    top:100px;
    width:319px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u215_normal {
    background-image: url('../登录页_files/u215_normal.png');
}

.u215_container {
    position:absolute;
    left:276px;
    top:190px;
    width:17px;
    height:17px;
}

#u215_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:17px;
}

.u216 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

